* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: #7facff;
  color: #f0f5ff;
  height: 5rem;
  line-height: 5rem;
  width: 100%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  margin-top: 5rem;
}

.choice {
  height: 165px;
  width: 165px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  background-color: rgb(238, 227, 227);
  cursor: pointer;
}

img {
  height: 150px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
}

.score-board {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
  color: #c38edc;
}

#user-score,
#comp-score {
  font-size: 4rem;
}

.msg-container {
  margin: 5rem 0;
}

#msg {
  background-color: #f083a2;
  color: #f7c3d2;
  font-size: 2rem;
  display: inline;
  padding: 1rem;
  border-radius: 1rem;
}

@media (max-width: 500px) {
  .choice {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin: 15px;
  }

  .choices {
    display: block;
    margin-top: 2rem;
    margin-left: 8rem;
  }
}

@media (max-width: 360px) {
  .choices {
    margin-left: 6rem;
  }
}